nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  background-color: blue;
  padding: 10px 10px 10px 10px;
}

#top li a {
  float: left;
  display: block;
  padding: 0 18px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  font-family: 'DroidSansRegular';
}

* {
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
}
.headerBanner {
  /* display: flex; */
  /* justify-content: right; */
  align-items: end;
}
main {
  margin: 10px 20px 10px 20px;
}
p {
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: 2px black solid;
}
figcaption {
  text-align: center;
}
.box {
  display: inline-block;
  padding-right: 10px;
}
.opus {
  display: block;
  margin: 0 auto;
}
div {
  padding-bottom: 10px;
}
/* figure {
  display: flex-box;
  justify-content: center;
} */
/* img {
  display: flex;
  justify-content: wrap;
} */
/* @media (max-width:700px){
  .opus{
      width: 100%;
  }
  .main {
      width: 100%;
  }  
} */
/* main {
  display: flex;
  flex-direction: column;
} */