nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  background-color: blue;
  padding: 10px 10px 10px 10px;
}

#top li a {
  float: left;
  display: block;
  padding: 0 18px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  font-family: 'DroidSansRegular';
}

* {
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
}
.headerBanner {
  padding: 10px 30px 10px 10px;
}
.divHeader {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.headerP {
  padding-top: 20px;
  padding-left: 30px;
  color:blue;
  font-size: 18px;
}
main {
  margin: 10px 20px 10px 20px;
}
.testimonials {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px black solid;
  font-size: 18px;
}
figcaption {
  text-align: center;
  font-size: 20px;
}
.box {
  display: inline-block;
  padding-right: 10px;
}
.opus {
  display: block;
  margin: 0 auto;
}
.pictureContainer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
}
a:visited {
  background-color: blueviolet;
}
a:hover {
  background-color: blueviolet;
  padding-top: 10px;
}

.galleryGrid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 30% 35% 35%;
  place-items: center;

}

@media (max-width: 1268px) {
  .galleryGrid {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .links {
    display: flex;
    flex-direction: column;
  }
  .menuHidden {
    display: none;
  }
  .divHeader {
    flex-direction: column-reverse;
  }
  #menu {
    display: none;
  }
}

@media (min-width: 500px) {
  #menu {
    display: flex;
  }
}

h3 {
  padding-top: 20px;
}

.fees {
  padding-top: 15px;
}

/* .hidden {
  display: flex;
} */
